1. The system will be available in all locations from Monday to Saturday (8:30 AM - 4:30 PM). 
2. The system will be able to generate all events with open seats for the user in approximately five seconds.
3. Routine maintenance of the system will have a downtime of 
